<h2>Contact Form</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>Name:</label>
  <input formControlName="name" />
  <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
    Name is required.
  </div>

  <label>Email:</label>
  <input formControlName="email" />
  <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
    Enter a valid email.
  </div>

  <label>Message:</label>
  <textarea formControlName="message"></textarea>
  <div
    *ngIf="form.controls['message'].invalid && form.controls['message'].touched"
  >
    Message is required.
  </div>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
